#* MOTHER OF IGNORE '*'\:>
*
#! ignore all files and unignore some files with '!'

# # * DOT EXTENSION FILES
# !*.json
# !*.c
# !*.cpp
# !*.h
# !*.hpp

#! .VSCODE FOLDER
!.vscode/
# alow these 3 files only
!.vscode/c_cpp_properties.json
!.vscode/launch.json
!.vscode/tasks.json

#! INCLUDE FOLDER
!include/
# alow all .h and .hpp files
!include/*.h
!include/*.hpp

#! SRC FOLDER
!src/
# alow all .c and .cpp files
!src/*.c
!src/*.cpp

#! BIN FOLDER
!bin/
# IGNORE all, blank folder only
!bin/.placeholder

#! PROJECT FOLDERS
!project/

!project/300_exercises_codeschool/
# alow all .c and .cpp files | 300_exercises_codeschool.pdf
!project/300_exercises_codeschool/300_exercises_codeschool.pdf
!project/300_exercises_codeschool/*.c
!project/300_exercises_codeschool/*.cpp

!project/benchmark_sorting_algorithms/
# alow all .c and .cpp files
!project/benchmark_sorting_algorithms/*.c
!project/benchmark_sorting_algorithms/*.cpp

!project/learn_cpp_header/
# alow all .c and .cpp files
!project/learn_cpp_header/*c
!project/learn_cpp_header/*cpp

#! OTHER IN ROOT FOLDERS
!.gitignore
!bettercomments_extension.png
!README.md
